<!DOCTYPE html>
<html>
<head>
	<title style="color:#452b20">Verification Mail</title>
</head>
<body>
	<h4 style="color:#452b20">Thank you for giving us your email details</h4>
	<br>
	<h4 style="color:#452b20">We will send your upcoming events once you verify your email and authorize your google account.</h4>
	<br>
	<h4 style="color:#452b20">Plese click the below button to verify your email</h4>
	<br>
	<button type = 'button' style="background: #452b20;color: white" ><a href = "http://localhost:3000/verifyemail/:{{ranNumber}}" style="color: white">Link</a></button> 
</body>
</html>